/* You can add global styles to this file, and also import other style files */
/* styles.css or styles.scss */
//@import '~ngx-toastr/toastr.css';

// regular style toast
@import 'ngx-toastr/toastr';


.toast-success {
  background-color: #28a745 !important;
  color: white !important;
}

.toast-error {
  background-color: #dc3545 !important;
  color: white !important;
}

.toast-warning {
  background-color: #ffc107 !important;
  color: black !important;
}

.toast-info {
  background-color: #17a2b8 !important;
  color: white !important;
}


* {
  box-sizing: border-box;
}


body {
  background-image: url('/background2.jpg');
  background-size: contain;
  background-position: center; 
  background-repeat: repeat;
  height: 100vh;
  position: relative; 
  animation: background-animation 300s ease normal infinite;
  animation: name duration timing-function delay iteration-count direction fill-mode;
}


@keyframes background-animation {
  0% {
    background-position-x: center;
  }
  50% {
    background-position-x: -1000px;
  }
  100% {
    background-position-x: center;
  }
}